{
  changelog:
    '2013.04.26': 'initial import'
  id: 'jquery-profanityfilter'
  main:
    js: 'jquery.profanityfilter.js'
    css: null
  name: 'jQuery profanity filter'
  type: 'library'
  version: '2013.04.26'
}
